@media (max-width: 992px) {
header {
    background-image: url("../img/back.jpg");
}
.logo {
    font-family: Bebas Neue;
    color: pink;
    font-size: 48px;
}
 .menu {
    display: flex;
    font-family: Noto Sans;
    text-decoration: none;
    color: white;
}
}