:root {
    --pink: #F4A9FF;
    --green: #008282;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
nav .logo {
    font-family: Bebas Neue;
    color: var(--pink);
    font-size: 48px;
    position: relative;
    left: 40px;
    flex: 1;
    margin: 15px;
}
nav {
    display: flex;
}
nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
nav #button {
    flex: 1;
    align-items: center;
    padding: 28px;
    position: relative;
    left: 120px;
}
nav #button button {
    width: 100px;
    height: 30px;
}
nav .menu a {
    text-decoration: none;
    color: white;
    font-family: Dela Gothic Onel;
    font-size: 18px;
    font-weight: bold;
}
nav .menu a:hover {
    text-decoration: underline;
}
header {
    background-image: url("img/back.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    height: 600px;
}
.description {
    padding: 50px;
}
.description a {
    font-size: 80px;
    font-family: Bebas Neue;
}
.pink {
    color: var(--pink);
}
.white {
    color: white;
}
.black {
    color: black;
}
#button2 {
    padding-left: 50px;
    position: relative;
    bottom: 30px;
}
#button2 button {
    width: 100px;
    height: 30px;
}
main h2 {
    font-family: Bebas Neue;
    font-size: 50px;
    text-align: center;
}
main .why-choose-us {
    font-family: Bebas Neue;
    font-size: 50px;
    text-align: center;
    height: 400px;
    padding: 100px;
}
.line {
    border: none;
    height: 2px;
    color: black;
    background-color: var(--pink);
    width: 100px;
}
#follow-a-healthy {
    font-family: Dela Gothic Onel;
    color: gray;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
.reasons .reason .big {
    font-size: 30px;
}
.reasons .reason .small {
    font-family: Dela Gothic Onel;
    font-size: 15px;
    color: gray;
    line-height: 0.1;
}
.reasons {
    display: flex;
}
.reasons .reason {
    padding: 20px;
    margin: 20px;
}
.reasons .reason .small {
    line-height: 1;
} 
.reasons .reason .small {
    position: relative;
    bottom: 25px;
}
.about-us {
    display: flex;
    background-color: var(--green);
}
#artichoke {
    flex: 1;
    background-image: url('img/artichoke1.jpeg');
    background-size: cover;
    height: 500px;
}
.about-us-in {
    flex:1;
    position: relative;
    left: 80px;
    top: 70px;
}
.about-us-text {
    position: relative;
    left: 300px;
}
.about-us-in .white1 {
    font-family: Bebas Neue;
    font-size: 50px;
    color: white;
}
.about-us-in .pink1 {
    font-family: Bebas Neue;
    font-size: 50px;
    color: var(--pink);
}
#line2 {
    text-align: left;
    background-color: var(--pink);
    width: 100px;
    height: 2px;
    border: none;
    margin: 0;
    margin-bottom: 30px;
}
.about-us-text1 {
    color: white;
    font-family: Dela Gothic Onel;
}
.about-us-text {
    position: relative;
    right: 50px;
}
.mid-season-sale {
    font-size: 48px;
    font-family: Bebas Neue;
    text-align: center;
    padding: 100px;
}
#delicious-vegetables {
    font-family: Dela Gothic Onel;
    color: gray;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
.products {
    display: flex;
}
.product-img {
    width: 300px;
    height: 250px;
}
.product-text {
    font-family: Dela Gothic Onel;
    color:gray;
    font-size: 30px;
}
.product {
    display: block;
    text-align: left;
}
.add-to-cart {
    position: relative;
    top: 50px;
    right: 90px;
    background-color: var(--green);
    color: white;
    width: 100px;
    height: 50px;
}
.main-collection {
    font-size: 48px;
    font-family: Bebas Neue;
    text-align: center;
    padding: 150px;
}
#shop-our {
    font-family: Dela Gothic Onel;
    color: gray;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
.products2 {
    display: flex;
    justify-content: space-around;
}
.footer {
    display: footer;
    background-color: #008282;
    height: 300px;
}
.footer-h-text {
    color: white;
    font-family: Bebas Neue;
    font-size: 30px;
}
.block {
    position: relative;
    left: 175px;
    top: 50px;
}
#line3 {
    position: relative;
    right: 663px;
    top: 10px;    
}
.footer-s-text {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
}
.footer-s-text:hover {
    text-decoration: underline;
}
.block2 {
    position: relative;
    left: 400px;
    bottom: 95px;
}
#add-artichoke-to-cart {
    margin-left: 25px;
}